body {
    background-color: #264469;
}

#text{
    color: white;
    text-shadow: 2px 2px black; /* Trying to make this have white text with black outline but the shadow looks dumb and I cant find another way to do it that works */
}