body {
    background-color: #264469;
}

#text{
    color: white;
    display:block;
    text-align:center;
}

#logo{
    display:block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#mid{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

#buy{
    cursor:pointer;
    position: absolute;
    top: 310px;
    right: 0px;
}

#play_button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

#deck{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    user-select: none;
}

#rank {
	position: absolute;
    top: 5px;
    right: 0px;
}

