body {
    background-color: #264469;
}

#text{
    color: gold;
    display:block;
    position: absolute;
    background-color: gray;
    top: 275px;
    right: 100px;
}

#gold {
    display:block;
    position: absolute;
    top: 285px;
    right: 120px;
}

#try{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#deckV{
    position: absolute;
    top: 0px;
    right: 200px
}

#logo{
    display:block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

#mid{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

#buy{
    cursor:pointer;
    position: absolute;
    top: 310px;
    right: 10px;
}

#play_button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

#deck{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#rank {
	position: absolute;
    top: 8px;
    right: 0px;
}

#reset {
    cursor:pointer;
    position: absolute;
    top: 8px;
    left: 10px;
}


